extends common/layout

block layout-content 
    h1 Add New project to the portfolio 
    if err 
        p.error = err 
    form(action="/addProject" method="POST")
        div 
            label(for="projectName") Name: 
            input(type="text" id="projectName" name="projectName" required)
            