extends common/layout 
//- extends projects

block layout-content 
    .main-content 
        h1.page-title Web Development Portfolio
        nav 
            ul 
                li: a(href="/projectsView") Projects
                li: a(href="/skillsView") Skills
        nav#adminNav 
            ul 
                li: a(href="user/login") Admin Login

        p Hi, I am Heather Boden, I have a background in graphic design and am currrently studying web development at Humber Polytechnic.  
       

