extends ../common/layout 

block layout-content 
  .main-content 
      h1 Admin Login
      form(action='login', method='POST')
        label Username:
        input(type='text', name='u', required)
        label Password:
        input(type='password', name='pw', required)
        button(type='submit') Login
      p Don't have an account? #[a(href='/user/register') Register here]
    
